body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding-top: 60px; /* correspond à la hauteur de la navbar */
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid #dee2e6;
}

.sidebar .nav-link {
  color: #333;
  padding: 0.75rem 1.25rem;
  display: block;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
  color: #000;
}
.main-content {
  margin-left: 250px;
  padding: 2rem;
  padding-top: 70px; /* Ajouté pour éviter que la navbar ne cache le haut */
  flex-grow: 1;
  overflow-y: auto;
  width: calc(100% - 250px);
}


.navbar .navbar-brand {
  margin-left: 0 !important;
}
