body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
}

.navbar {
  background-color: #216490;
  z-index: 1000; /* souvent autour de 1000 */

}

.navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
}

.navbar .navbar-toggler {
  color: #fff;
  border: none;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}


.sidebar {
  width: 250px;
  background-color: #fff;
  padding-top: 32px;
  height: 100vh;
  position: fixed;
  left: 0;
  border-right: 1px solid #dee2e6;
  z-index: 1000;
  transition: transform 0.3s ease;
  top: 59px; /* décale vers le bas de 50px */
  flex-direction: column;

  

}
.sidebar-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 21%; /* Nécessaire pour que le centering fonctionne */
}
.sidebar.hidden {
  transform: translateX(-100%);
}

/* Main Content */
.main-content {
  margin-left: 250px;
  padding: 2rem;
  padding-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
  width: calc(100% - 250px);
  transition: all 0.3s ease;
}

.main-content.full-width {
  margin-left: 0;
  width: 100%;
}


.sidebar .nav-link {
  color: #216490;
  font-weight: 500;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sidebar .nav-link i {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

/* Hover & Active States */
.sidebar .nav-link:hover {
  background-color: #e9f0f5;
  color: #0d3b66;
}

.sidebar .nav-link.active {
  background-color: #216490;
  color: #fff;
  font-weight: 600;
}

.sidebar .nav-link.active i {
  color: #fff;
}

/* Logout Icon specific style */
.logout-link i {
  color: #fff;
}
.sidebar.hidden {
  display: none;
}
.icon-btn {
  background: none !important;
  border: none;
  color: #fff !important;
  font-size: 1.5rem;
  padding: 0.3rem 0.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.icon-btn i {
  color: #fff !important;
}

.icon-btn:hover i {
  color: #dcdcdc !important;
}
