<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container">
    <div class="row mt-n1-9">
      <div class="col-md-6 col-xl-3 my-1-9 wow fadeInUp" *ngFor="let catalog of catalogs" data-wow-delay=".2s">
        <div class="team-style07" 
             [ngClass]="{ 'selected-catalog': selectedCatalogId === catalog.id_catalog }"
             (click)="onSelectCatalog(catalog.id_catalog)">
          <h3 class="h5 mb-1"><a>{{ catalog.name }}</a></h3>
        </div>
      </div>
      
      
    </div>
    
  </div>
  <app-products [catalogId]="selectedCatalogId"></app-products>   