.masthead {
  height: 100vh;
  min-height: 500px;
  background-color: #216490; /* Bootstrap primary blue, you can change it */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
