.masthead {
  height: 100vh;
  min-height: 500px;
  background-color: #216490; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  flex-grow: 1;
}
