.img-thumbnail {
  border-radius: 0.75rem;
  object-fit: cover;
}

@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
  }
  .btn {
    width: 100%;
  }
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
.btn-custom-blue {
  background-color: #216490;
  color: white;
  border: none;
}

.btn-custom-blue:hover {
  background-color: #1a5075;
}
