<div class="container py-4">
  <div class="row mb-4">
    <div class="col-12">
       <nav aria-label="breadcrumb" class="app-breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item" style="cursor: pointer;">
            <a (click)="closeCart()" class="fw-medium text-app-blue"> <i class="bi bi-app me-1"></i> Accueil
            </a>
          </li>
          <li class="breadcrumb-item active text-dark" aria-current="page">
            <i class="bi bi-cart m-1"></i> Votre panier
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div *ngIf="cartItems.length > 0" class="info-bonif">
    <i class="zmdi zmdi-info-outline fs-4 "></i>
    Avec cet achat vous gagnerez un total de {{ getTotalBonifPoints() }} points bonifiants 
  </div>

  <div class="table-responsive mb-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Produit</th>
          <th class="text-center">Quantité</th>
          <th class="text-center">Total</th>
          <th class="text-center">Points bonifiants</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems; let i = index">
          <td>
            <div class="d-flex align-items-center">
<img [src]="item.image" alt="Produit" class="img-thumbnail me-3" />

              <div class="product-info">
                <h6>{{ item.name }} <span>{{ item.catalog }}</span></h6>
                <small>{{ item.brand }}</small>
              </div>
            </div>
          </td>
          <td class="text-center align-middle">
              {{ item.quantity }}
          </td>
          <td class="text-center align-middle">{{ item.price * item.quantity | currency }}</td>
          <td class="text-center align-middle">
            {{ item.visible === 1 ? (item.points * item.quantity) : '—' }}
          </td>
          <td class="text-center align-middle">
            <button (click)="removeItem(i)" class="btn btn-outline-danger" title="Supprimer">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

   <!-- Loader centré sous le tableau -->
  <div class="loader-container" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <!-- Warning panier vide centré sous tableau et loader -->
  <div *ngIf="!loading && emptyCartMessage" class="alert alert-warning text-center mb-3">
    <i class="fa fa-info-circle"></i> {{ emptyCartMessage }}
  </div>

  <!-- Boutons alignés à droite et plus petits -->
  <div class="d-flex justify-content-end gap-2">
    <button
      class="btn btn-custom-blue btn-sm"
      (click)="estimateEnergyBill()"
      #estimationBtn
      [disabled]="isCartEmpty()"
      title="Estimer facture énergie"
    >
      <i class="bi bi-lightning-charge me-1"></i> Estimer facture énergie
    </button>

    <button
      (click)="openDelivery()"
      class="btn btn-success btn-sm"
      [disabled]="disableValidateBtn || isCartEmpty()"
      title="Suivant"
    >
      Suivant <i class="bi bi-arrow-right ms-1"></i>
    </button>
  </div>
</div>