.welcome-container {
  text-align: center;
  padding: 2rem;
  max-width: 480px;
  margin: auto;
  color: #216490;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.welcome-icon {
  font-size: 48px;
  color: #216490;
}

.welcome-title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #216490;
}

.welcome-message {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.button-container {
  display: flex;
  justify-content: center;
  
}
