<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<div class="container">
    <div class="row clearfix">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

        <div class="container">
          <div class="row clearfix">
            <div *ngFor="let product of products" class="col-lg-3 col-md-4 col-sm-12">
              <div class="card product_item" >
                 <!-- Floating Carbon Badge -->
  <div *ngIf="carbonBadges[product.id]" class="carbon-badge" [ngClass]="carbonBadges[product.id]">
    {{ carbonBadges[product.id] === 'undefined' ? 'Non défini' : (carbonBadges[product.id] | titlecase) }} CO₂
  </div>
  <div class="cp_img" data-bs-toggle="tooltip" data-bs-placement="top">
    <img src="assets/imagenotavailble.png" alt="Nom du produit" class="img-fluid">
    <div class="hover">
      <a (click)="openSimulateur(product)" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" title="Simulez votre consommation energetique">
        <i class="zmdi zmdi-flash"></i>
      </a>      
       <!-- Nouveau bouton pour afficher les détails -->
       <a (click)="openProductDetailDialog(product)" class="btn btn-primary btn-sm waves-effect"  title="Détails du produit">
        <i class="zmdi zmdi-info"></i>
      </a>
      <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect" title="Ajouter au panier">
        <i class="zmdi zmdi-shopping-cart"></i>
      </a>
    </div>
  </div>
                  <div class="product_details">
                    <!-- Product Name -->
                    <h5><a href="javascript:void(0);">{{ product.name }}</a></h5>
                    <!-- Product Short Description -->
                    <p class="product-description">{{ product.short_description }}</p>
    
                    <p class="product-brand">{{ product.brand }}</p>
        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noProducts>
          <div class="text-center mt-4">
            <p class="text-danger">Aucun produit trouvé.</p>
          </div>
        </ng-template>
        
    </div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    tooltipTriggerList.map(el => new bootstrap.Tooltip(el));
  });
</script>
