<h2 mat-dialog-title class="dialog-title">{{ data.product.name }}</h2>

<div mat-dialog-content class="dialog-content">
  <div class="image-wrapper">
    <img [src]="data.product.imageUrl || 'assets/imagenotavailble.png'" alt="{{ data.product.name }}">
    <span class="carbon-badge" [ngClass]="data.carbonScore">
      {{ data.carbonScore === 'undefined' ? 'Non défini' : (data.carbonScore | titlecase) }}
    </span>
  </div>

  <p class="description" *ngIf="data.product.short_description">{{ data.product.short_description }}</p>

  <div class="product-meta">
    <span class="brand" *ngIf="data.product.brand">{{ data.product.brand }}</span>
    <span class="reference" *ngIf="data.product.reference">{{ data.product.reference }}</span>
  </div>

    <!-- Affichage des caractéristiques -->
  <div *ngIf="product?.features && objectKeys(product.features).length">
    <h4>Caractéristiques :</h4>
    <ul>
      <li *ngFor="let feature of objectKeys(product.features)">
        <strong>{{ feature | titlecase }}:</strong>
        <span>{{ product.features[feature] }}</span>
      </li>
    </ul>
  </div>
</div>

<!-- Actions -->
<div mat-dialog-actions class="d-flex justify-content-end px-3 pb-3 gap-2">
  <button mat-button mat-dialog-close color="warn">Fermer</button>
  <button class="btn btn-primary" (click)="addToCart()">
    <i class="bi bi-graph-up-arrow me-1"></i> Ajouter au panier
  </button>
</div>