:root {
  --main-blue: #216490;
}

.text-custom-blue {
  color: var(--main-blue) !important;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.profile-pic {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #dbeafe;
  background-color: #fff;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.star-rating span {
  font-size: 1.1rem;
  color: #d1d5db;
  margin: 0 2px;
}

.star-rating span.filled {
  color: #facc15;
}

@media (max-width: 576px) {
  .profile-pic {
    width: 70px;
    height: 70px;
  }

  .card {
    padding: 1rem;
  }
}
.info-icon {
  color: #216490;
  font-size: 1.1rem;
  transition: color 0.2s ease;
  cursor: pointer;
}

.info-icon:hover {
  color: #164866; 
}
