<!-- Introduction -->

<div class="d-flex align-items-center mb-4" style="background-color: #eaf4fd; padding: 10px; border-left: 4px solid #2196f3; border-radius: 6px; font-size: 0.95rem;">
  <i class="zmdi zmdi-info-outline me-2 fs-5 text-primary"></i>
    Consultez les catalogues de vos fournisseurs et gérez facilement la visibilité de l’impact environnemental de leurs produits électroménagers.
</div>

<!-- Sélection Fournisseur & Catalogue -->
<div class="row g-3 mb-4">
  <!-- Select Provider -->
  <div class="col-md-6">
    <label for="providerSelect" class="form-label">Fournisseur</label>
    <select id="providerSelect" class="form-select"
            [ngModel]="selectedProviderId"
            (ngModelChange)="onProviderSelect($event)">
      <option [ngValue]="null" disabled selected>Choisissez un fournisseur</option>
      <option *ngFor="let provider of providers" [ngValue]="provider.id">
        {{ provider.name }}
      </option>
    </select>
  </div>

  <!-- Select Catalog -->
  <div class="col-md-6" *ngIf="catalogs.length > 0">
    <label for="catalogSelect" class="form-label">Catalogue</label>
    <select id="catalogSelect" class="form-select"
            [ngModel]="selectedCatalogId"
            (ngModelChange)="onSelectCatalog($event)">
      <option [ngValue]="null" disabled selected>Choisissez un catalogue</option>
      <option *ngFor="let catalog of catalogs" [value]="catalog.id">
        {{ catalog.name }}
      </option>
    </select>
  </div>
</div>

<!-- Liste des produits -->
<app-listproducts [catalogId]="selectedCatalogId"></app-listproducts>
