<div class="container">
  <div class="row clearfix"> 
    <div class="loader-container" *ngIf="isLoading">
      <div class="loader"></div>
    </div>

    <ng-container *ngIf="!isLoading && products.length > 0; else noProducts">

      <div class="row clearfix">
        <div *ngFor="let product of products" class="col-lg-3 col-md-4 col-sm-12">
          <div class="card product_item position-relative">

            <!-- Badge Carbone -->
          <div
  class="carbon-icon"
  [ngClass]="carbonBadges[product.id]"
  (click)="toggleCarbonTooltip(product.id, $event)"
  [title]="getCarbonBadgeText(carbonBadges[product.id])"
  tabindex="0"
  role="button">
  <i class="zmdi zmdi-nature-people"></i>
</div>


            <div class="cp_img" data-bs-toggle="tooltip" data-bs-placement="top">
              <img [src]="product.imageUrl || 'assets/imagenotavailble.png'" alt="{{ product.name }}" class="img-fluid">
              <div class="hover">
                <a (click)="openSimulateur(product)" class="btn btn-custom-blue mb-2" title="Simulez votre consommation énergétique">
                  <i class="zmdi zmdi-flash"></i>
                </a>
                <a (click)="addToCart(product.id)" class="btn btn-custom-blue mb-2" title="Ajouter au panier">
                  <i class="zmdi zmdi-shopping-cart"></i>
                </a>
              </div>
            </div>

            <div class="product_details">
              <h5><a (click)="openProductDetailDialog(product)" style="color:#216490 ; font-weight: 700;">{{ product.name }}</a></h5>
             <em style="font-size: smaller;">{{ product.category }}</em>
              <p class="product-brand">{{ product.brand }}</p>

              <div *ngIf="product.bonifvisible === 1" class="mt-2">
                <span class="bonif-badge"> {{ product.bonifpoint }} pts bonus</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noProducts>
      <div class="text-center mt-4" *ngIf="!isLoading">
        <p class="text-danger" *ngIf="catalogId">Aucun produit trouvé.</p>
        <p class="text-muted" *ngIf="!catalogId">Veuillez sélectionner un catalogue.</p>
      </div>
    </ng-template>

  </div>

  <!-- Tooltip flottant hors carte produit -->
  <div
    *ngIf="activeCarbonTooltipId !== null"
    class="custom-tooltip fixed-tooltip"
    [style.top.px]="tooltipPosition.top"
    [style.left.px]="tooltipPosition.left"
    (click)="closeCarbonTooltip()"
    role="tooltip"
    aria-live="polite"
  >
    <div class="tooltip-arrow"></div>
    <div class="tooltip-content p-2 small">
      {{ getCarbonBadgeText(carbonBadges[activeCarbonTooltipId]) }}
    </div>
  </div>
</div>
