/* src/styles.css */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    box-sizing: border-box;

  }
 /* Classe personnalisée appliquée au modal Angular Material */
.custom-dialog .mat-dialog-container {
  border-radius: 16px !important; /* Bord arrondi */
  padding: 20px !important; /* Optionnel : Ajouter un peu de padding */
}

