<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm border-0 rounded-4 form-card">
      <div class="card-header bg-white border-0">
        <h4 class="mb-0 text-primary">Ajouter un produit</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Choisir un catalogue</mat-label>
              <mat-select (selectionChange)="onSelectCatalog($event.value)">
                <mat-option *ngFor="let catalog of catalogs" [value]="catalog.id_catalog">
                  {{ catalog.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <div class="row">
            <div class="col-md-6 mb-3">
              <input formControlName="name" class="form-control" placeholder="Nom du produit">
            </div>
            <div class="col-md-6 mb-3">
              <input formControlName="brand" class="form-control"placeholder="Entrez la marque">
            </div>
          </div>
  
          <div class="mb-3">
            <textarea formControlName="short_description" class="form-control" rows="3" placeholder="Brève description..."></textarea>
          </div>
          
  
          <div class="mb-4">
            <label for="category" class="form-label">Désignation</label>
            <select class="form-select" formControlName="category_id" id="category">
              <option selected disabled>Choisissez une désignation</option>
              <option *ngFor="let cat of categories" [value]="cat.id">
                {{ getDesignationName(cat.designation) }}
              </option>
            </select>
          </div>
          
          
  
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Ajouter le produit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  